<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://rebeccaleonard.getforge.io/">Rebecca Leonard</a>. Making my way downtown, walking fast, faces pass, and I'm home bound.
  </p>
  <br />
  <p>
    Filler text about coding on Xanga and Myspace, ancient technology unknown to this generation.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'rebecca.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Rebecca Leonard</h2>
    <br />
    <p>
      Rebecca Leonard is yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />