<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://rebeccaleonard.getforge.io/">Rebecca Leonard</a>.
  </p>
  <br />
  <p>
    This website was made in the span of just two weeks!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'rebecca.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Rebecca Leonard</h2>
    <br />
    <p>
      Rebecca Leonard is beginner web developer learning at The Firehose Project. She was previously a retail employee for a cellular company, helping customers and employees alike with their tech related questions.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />